:root{
  --clr-bg: rgb(15, 15, 15);
  --clr-bg-alt: rgb(20, 20, 20); 
  --clr-bg-lght: rgb(39, 39, 39);
  --gradient: linear-gradient(50deg, rgba(255,0,0,1) 0%, rgba(192,1,254,1) 100%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 110vh;
  background: var(--clr-bg);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav{
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  overflow: hidden;
}


nav h1{
  background: rgb(255,0,0);
  background: var(--gradient);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin-top: 8px;
  display: inline-block;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: -62px;
  left: 100px;
  position: relative;
}

nav li {
  float: left;
  margin-left: 10px;
}

nav li a {
  display: block;
  padding: 12px;
  font-size: 20px;
  position: relative;
  z-index: 1;
  text-align: center;
  overflow: hidden;
}

nav li a::after{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  left: 0px;
  content: '';
  background: var(--gradient);
  z-index: -1;
  top: 51px;
  transition: top .2s;
}

nav li a:hover::after{
  top: 0px;
}

#splash{
  width: 100%;
  height: 80vh;
}

#splash h1{
  position: relative;
  
  left: 50px;
  font-size: 80px;
  background: rgb(255,0,0);
  background: var(--gradient);
  width: fit-content;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#splash .audio-player-container{
  position: relative;
  top: 17%;
  left: 50px;
}

#splash .audio-player-container + p {
  font-style: italic;
  position: relative;
  top: 15%;
  left: 425px;
  color: grey;
}

#driveBys{
  overflow: hidden;
  height: 170px;
  width: 100%;
  position: relative;
  background-color: var(--clr-bg-alt);
  display: flex;
  align-items: center;
  justify-content: center;
}

#driveBys::before{
  background: linear-gradient(90deg, var(--clr-bg-alt) 0%, rgba(255,255,255,0) 100%);
  width: 100px;
  height: 100%;
  position: absolute;
  left: 0;
  content: '';
  z-index: 100;
}

#driveBys::after{
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--clr-bg-alt) 100%);
  width: 100px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  content: '';
  z-index: 100;
}

#driveBys .audio-player-container{
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  flex-shrink: 0;
}

.audio-player-container{
  width: 500px;
  height: 120px;
  background: var(--clr-bg-lght);
  padding: 10px;
  border-radius: 20px;
}

.audio-player-container p{
  text-align: right;
  margin: 2px;
  margin-right: 17px;
}

.play-icon{
  outline: none;
  border: none;
  width: 70px;
  height: 70px;
  background: rgb(255,0,0);
  background: var(--gradient);
  border-radius: 100%;
  position: relative;
  top: -10px;
  margin: 0;
  cursor: pointer;
  transition: transform .2s;
  float: left;
  margin-left: 6px;
  transform-origin: 50% 50%;
  overflow: hidden;
}

.play-icon:hover{
  transform: scaleX(1.1) scaleY(1.1);
}

.play-icon:hover::before{
  margin-left: 12px;
}

.play-icon::before{
  content: '';
  display: block;
  background-image: url('/icons/play.png');
  width: 70%;
  height: 70%;
  margin: 5px;
  margin-top: -22px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: margin .2s;
}

.play-icon.pause::before{
  margin-left: 50px;
}

.play-icon.pause::after{
  margin-left: 5px;
}

.play-icon::after{
  content: '';
  display: block;
  background-image: url('/icons/pause.png');
  width: 70%;
  height: 70%;
  margin: -53px;
  margin-left: -80px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: margin .2s;
}

.time{
  position: relative;
  bottom: -30px;
  height: fit-content;
  float: right;
  left: 280px;
}

.current-time{
  margin-left: -48px;
  margin-right: 5px;
}

.current-time::after{
  content: '/';
  margin-left: 8px;
  font-size: 20px;
  color: grey;
  font-weight: bolder;
  position: relative;
  top: 0px;
  left: 0px;
}

.duration{
  position: relative;
  top: 35px;
  left: 315px;
}

.seek-slider{
  position: relative;
  top: 5px;
  right: 20px;
  float: right;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 70%;
  background-color: rgba(0,0,0,1);
  border-radius: 100px;
}

input[type=range]:focus {
  outline: none;
}

input[type="range"]::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  width: var(--seek-before-width);
  height: 8.4px;
  background: var(--gradient);
  cursor: pointer;
  z-index: 0;
  border-radius: 100px;
}


input[type=range]::-webkit-slider-runnable-track {
  width: 70%;
  height: 8.4px;
  cursor: pointer;
  background: linear-gradient(50deg, rgba(255,0,0,.5) 0%, rgba(192,1,254,.7) 100%);
  border-radius: 100px;
  z-index: 0;
}
input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 3px;
  background: var(--gradient);
  outline: 2px solid grey;
  cursor: pointer;
  border-radius: 100%;
  -webkit-appearance: none;
  margin-top: 0;
  transition: all .2s;
}

input[type=range]:hover::-webkit-slider-thumb {
  outline: 2px solid white;
}

input[type=range]::-moz-range-track {
  width: 70%;
  height: 8.4px;
  cursor: pointer;
  background: var(--gradient);
  border-radius: 100px;
}
input[type=range]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: #ffffff;
  outline: 2px solid grey;
  cursor: pointer;
  border-radius: 100%;
  margin-top: -4px;
}

input[type=range]::-ms-track {
  width: 70%;
  height: 8.4px;
  cursor: pointer;
  background: var(--gradient);
  border-radius: 100px;
}
input[type=range]::-ms-fill-lower {
  background: var(--gradient);
  border-radius: 100px;
}
input[type=range]::-ms-fill-upper {
  background: var(--gradient);
  border-radius: 100px;
}

input[type=range]::-ms-thumb {
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: #ffffff;
  outline: 2px solid grey;
  cursor: pointer;
  border-radius: 100%;
  margin-top: -4px;
}
input[type=range]:hover::-ms-thumb {
  background: var(--gradient);
}